.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.searchbar {
  font-size: 17px;
  width: 100%;
}

.drinkThumbnail {
  border-radius: 10px;
  padding: 10px 15px 10px 10px;
}

.top {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 1rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  background-color: rgb(240, 237, 237);

}

/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
} */

/* @media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
} */

/* Mobile */
@media (max-width: 700px) {
  .main {
    width: 100%;
  }

  .top {
    height: 100px;
    position: fixed;
    width: 100%;
  }

  /* .top p,
  .top div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  } */

  .top p {
    margin: auto auto 10px auto;
  }

  .searchbar_container {
    position: fixed;
    height: 60px;
    width: 100%;
    padding: 10px;
    color: black;
    background-color: white;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

    margin-top: 100px;

  }

  .searchbar {
    color: black;
    font-size: 17px;
    padding:10px;
    border-radius: 8px;
    margin: auto;
    background-color: rgb(231, 227, 227);
    border-style: none;
  }

  .drinkList {
    width: 100%;
    padding-right: 10px;
    margin-top: 158px;
  }

  .drinkCellOuter {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightgray;
    color: rgb(203, 201, 201);
    /* overriding button default styles */
    background-color: white;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    font-size: 17px;
  }

  .drinkListCellLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
  }

  .drinkThumbnail {
    border-radius: 50%;
    padding: 10px 15px 10px 10px;
  }

  .recipe_view_top {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100px;
    width: 100%;
    font-family: var(--font-mono);
    background-color: rgb(240, 237, 237);
  }

  .recipe_view_top > p {

    margin-bottom: 10px;
    text-align: center;
  }

  .recipe_view {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .recipe_view > p:first-of-type {
    font-size: 20px;
    font-weight: bold;
  }

  .recipe_view > p:last-of-type {
    font-size: 17px;
    font-weight: normal;
    margin: 0px 15px 0px 15px;
  }

  .recipe_view_image {
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .ingredients_component {
    width: 100%;
    /* padding-left: 15px; */
    margin: 30px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .ingredients_component  p {
    font-size: 17px;
    /* font-weight: bold; */
  }

  .ingredients_component > p:first-of-type {
    /* font-size: 17px; */
    font-weight: bold;
    padding-left: 15px;
  }

  .chart_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 20px 20px 0px 20px;
  }

  .legend {
    width: 65%;
  }

  .ingredient_row p {
    font-size: 17px;
  }

  .ingredient_row {
    display: flex;
    flex-direction: row;
    margin: 5px 0px 5px 0px;
  }

  .legend_color_square {
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }

  .pie_chart {
    height: 120px;
    width: 120px;
  }
}
