.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 100vh;
}

.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  border: solid rgb(156, 152, 152);
  height: 100vh;
}

.top {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  font-size: 1rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  background-color: rgb(240, 237, 237);
  
  height: 15%;
}

.top > P {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.searchbar_container {
  position: relative;
  height: 8%;
  width: 100%;

  padding: 0.75rem;
  color: black;
  background-color: white;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.searchbar {
  font-size: 1rem;
  width: 99%;

  color: black;
  font-size: 1rem;
  padding:10px;
  border-radius: 0.5rem;
  margin: auto;
  background-color: rgb(231, 227, 227);
  border-style: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .arrow {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 1.25rem;
  background: rgb(163, 163, 163);
}

.arrow .line {
  position: relative;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 0.2rem;
  border-radius: 2px;
  background: lightgray;
  transform-origin: center;
  transform: translate(-50%, 10%) rotate(45deg);
}
.arrow .line:nth-child(2) {
  transform: translate(-55%, -70%) rotate(-45deg);
}

.drinkThumbnail {
  border-radius: 10px;
  padding: 10px 15px 10px 10px;
}

.drinkList {
  width: 100%;
  padding-right: 10px;
  margin-top: -5px;
  height: 77%;
  overflow: auto;
}

.drinkCellOuter {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid lightgray;
  color: rgb(203, 201, 201);
  /* overriding button default styles */
  background-color: white;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  font-size: 1.2rem;
}

.drinkListCellLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
}

.drinkThumbnail {
  border-radius: 50%;
  padding: 10px 15px 10px 10px;
}

.exit_button {
  display: none;
}

.recipe_view, .empty_recipe_view {
  width: 45%;
  border: solid rgb(156, 152, 152);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe_view_top {
  height: 7.5rem;
  width: 100%;
  background-color: rgb(240, 237, 237);
  display: flex;
  flex-direction: column-reverse;
  border-bottom: 1px solid lightgray;
}

.recipe_view_top button {
  visibility: hidden;
}

.recipe_view_top p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.recipe_view_top > section:last-of-type, .recipe_view_top > section:first-of-type {
  height: 0;
}

.recipe_view_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.recipe_view_main > p:first-of-type {
  font-size: 1.25rem;
  font-weight: bold;
}

.recipe_view_main > p:last-of-type {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 1rem 0 1rem;
}

.recipe_view_image {
  border-radius: 50%;
  margin: 2rem auto 1.25rem auto;
}

.ingredients_component {
  width: 100%;
  /* padding-left: 15px; */
  margin: 1.9rem 0 1.9rem 0;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.ingredients_component p {
  font-size: 1rem;
  /* font-weight: bold; */
}

.ingredients_component > p:first-of-type {
  /* font-size: 17px; */
  font-weight: bold;
  padding-left: 15px;
}

.chart_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding: 1.25rem 1.25rem 0px 1.25rem;
}

.legend {
  width: 65%;
}

.ingredient_row p {
  font-size: 1rem;
}

.ingredient_row {
  display: flex;
  flex-direction: row;
  margin: 0.3rem 0 0.3rem 0;
}

.legend_color_square {
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 0.35rem;
}

.pie_chart {
  height: 120px;
  width: 120px;
}

/* Mobile */
@media (max-width: 700px) {

  .main {
    width: 100%;
  }

  .main_container {
    width: 100%;
    z-index: 1;
    border: none;
  }

  .top {
    height: 6.25rem;
    position: fixed;
    width: 100%;
  }

  .top p {
    font-size: 1.25rem;
    margin: auto auto 0.625rem auto;
  }

  .searchbar_container {
    position: fixed;
    height: 3.75rem;
    width: 100%;
    padding: 0.625rem;
    color: black;
    background-color: white;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

    margin-top: 6.25rem;

  }

  .searchbar {
    color: black;
    font-size: 1rem;
    padding:10px;
    border-radius: 0.5rem;
    margin: auto;
    background-color: rgb(231, 227, 227);
    border-style: none;
  }

  .drinkList {
    width: 100%;
    padding-right: 10px;
    margin-top: 9.875rem;
  }

  .drinkCellOuter {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightgray;
    color: rgb(203, 201, 201);
    /* overriding button default styles */
    background-color: white;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    font-size: 1rem;
  }

  .drinkListCellLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
  }

  .drinkThumbnail {
    border-radius: 50%;
    padding: 10px 15px 10px 10px;
  }

  .empty_recipe_view {
    display: none;
  }

  .exit_button {
    display: block;
    height: 2rem;
  }

  .recipe_view {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    background-color: white;
    border: none;
  }

  .recipe_view_visible {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .recipe_view_hidden {
    display: none;
  }

  .recipe_view_top {

    position: fixed;

    display: flex;
    flex-direction: row;
    height: 6.25rem;
    width: 100%;
    /* margin-bottom: 0.6rem; */
    /* font-family: var(--font-mono); */
    background-color: rgb(240, 237, 237);
  }

  .recipe_view_top > section {
    display: flex;
    flex-direction: column-reverse;
    width: 33%;
    margin-bottom: 0.6rem;
  }

  .recipe_view_top > section:last-of-type, .recipe_view_top > section:first-of-type {
    height: auto;
  }

  .recipe_view_top > section > p {
    font-size: 1.25rem;
    /* text-align: bottom; */
    margin-bottom: 0;
  }

  .recipe_view_top button {
    visibility: visible;
    font-size: 1.25rem;
    width: auto;
    border-style: none;
    text-align: left;
    margin-left: 0.6rem;
    color: rgb(118, 130, 212);
  }

  .recipe_view_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6.25rem;
  }

  .recipe_view_main > p:first-of-type {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .recipe_view_main > p:last-of-type {
    font-size: 1rem;
    font-weight: normal;
    margin: 0 1rem 0 1rem;
  }

  .recipe_view_image {
    border-radius: 50%;
    margin-top: 1.9rem;
    margin-bottom: 1.25rem;
  }

  .ingredients_component {
    width: 100%;
    margin: 1.9rem 0 1.9rem 0;
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .ingredients_component  p {
    font-size: 1rem;
  }

  .ingredients_component > p:first-of-type {
    font-weight: bold;
    padding-left: 1rem;
  }

  .chart_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 1.25rem 1.25rem 0 1.25rem;
  }

  .legend {
    width: 65%;
  }

  .ingredient_row p {
    font-size: 1rem;
  }

  .ingredient_row {
    display: flex;
    flex-direction: row;
    margin: 0.3rem 0 0.3rem 0;
  }

  .legend_color_square {
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 0.3rem;
  }

  .pie_chart {
    height: 7.5rem;
    width: 7.5rem;
  }
}
